<div class="container settings">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Account Settings</h2>
      </div>

      <div class="panel-body">

        <div class="row photo-settings">
          <div class="col-md-3 photo-preview">
            <%= image_tag @user.photo.link, class: "current-img img-circle" %>
            <p class="photo-text">Select a photo</p>
          </div>
          <div class="col-md-9">
            <% @photos.each do |photo| %>
              <%= image_tag photo.link, class: "img-options img-circle" %>
            <% end %>
          </div>
        </div>

        <div class="row question-settings">
          <div class="col-md-12">
            <h3>Diary Questions</h3>
            <% @questions.each do |question| %>
              <%= question.text %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
