<div class="grey-box"></div>
<div class="container col-md-6 col-md-offset-3">
  <div class="row">

    <div class="panel panel-default col-lg-5 card effect-click">
      <div class="panel-body card-front mindfulness">
        <p class="card-title">MINDFULNESS</p>
      </div>
      <div class="panel-body card-back mindfulness">
        <ul>
        <% @mindfulness.each do |skill| %>
          <li><%= link_to skill.text, "#", "data-toggle": "modal", "data-target": "#myModal", "data-desc": skill.description, "data-title": skill.text %></li>
        <% end %>
        </ul>

      </div>
    </div>

    <div class="panel panel-default col-lg-5 card effect-click">
      <div class="panel-body card-front ER">
        <p class="card-title">EMOTION REGULATION</p>
      </div>
      <div class="panel-body card-back ER">
        <ul>
        <% @ER.each do |skill| %>
          <li><%= link_to skill.text, "#", "data-toggle": "modal", "data-target": "#modal", "data-desc": skill.description, "data-title": skill.text %></li>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="panel panel-default col-lg-5 DT card effect-click">
      <div class="panel-body card-front DT">
        <p class="card-title">DISTRESS TOLERANCE</p>
      </div>
      <div class="panel-body card-back DT">
        <ul>
        <% @DT.each do |skill| %>
          <li><%= link_to skill.text, "#", "data-toggle": "modal", "data-target": "#modal", "data-desc": skill.description, "data-title": skill.text %></li>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="panel panel-default col-lg-5 IE card effect-click">
      <div class="panel-body card-front IE">
        <p class="card-title">INTERPERSONAL EFFECTIVENESS</p>
      </div>
      <div class="panel-body card-back IE">
        <ul>
        <% @IE.each do |skill| %>
          <li><%= link_to skill.text, "#", "data-toggle": "modal", "data-target": "#modal", "data-title": skill.text, "data-desc": skill.description, "data-title": skill.text %></li>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="clearfix"></div>