<% if any_errors %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      The form contains <%= pluralize(count_errors, "error") %>.
      <ul>
      <% messages.each do |msg| %>
        <li class="errors"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
