<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>

<div class="container col-md-8 col-md-offset-2 home">
  <section class="row about">
    <h3>About Dialectical Behavior Therapy</h3>
    <p>Developed at the University of Washington by Marsha Linehan, Ph.D., DBT was originally developed to treat interpersonal chaos, intense emotional swings, impulsiveness, confusion about the self (identity), and suicidal behavior. It is based on a bio-social theory that states that problems develop from the interaction of biological factors (physiological makeup) and environmental factors (learning history), which together create difficulty managing emotions. DBT is therefore appropriate for a range of additional problems that relate to emotion dysregulation, including substance use problems, eating disordered behavior, and anger-related problems. A great deal of research has been conducted on the effectiveness of DBT and, in general, DBT appears as effective or more effect than other psychotherapies for the problems mentioned above.</p>
    <p>To reach the ultimate goal of DBT--creating a life worth living--the therapy balances empathy and warm acceptance (validation) with an unwavering focus on changing problem behavior (problem-solving). Through this balance, DBT aims to help change the behavioral, emotional, and thinking patterns associated with problems in living, while promoting the development of and reliance on inner wisdom (wise mind).</p>
  </section>
  <section class="row dialectics">
    <h3>Dialectics</h3>
    <p>DBT is based on the idea that opposites can coexist and be synthesized. This means weighing out various points of view in any situation and constantly working on balancing an effort to change things along with accepting things as they are.</p>
  </section>
  <section class="row behavior">
    <h3>Behavior Therapy</h3>
    <p>Behavior therapy is based on the study of how things are learned. It focuses on helping people change ineffective ways of coping by learning new ways of coping and getting things done. It focuses on specific goals that can realistically be attained. For the most part, it is "doing" therapy rather than a "talking" therapy.</p>
  </section>
</div>
