/* CONTACTS */

.therapist-tag {
  margin-left: 0.5em;
}

.fa-phone {
  margin-right: 0.625em;
}

.contact-title {
  font-size: 1.2em;
  font-weight: bold;
  background: url(image-path('swashblue.png')) no-repeat center center;
  text-align: center;
}
