/* CONTACTS */

.therapist-tag {
  margin-left: 0.5em;
}

.fa-phone {
  margin-right: 0.625em;
}

.contact-title {
  font-size: 1.2em;
  font-weight: bold;
  background: url(image-path('swashblue.png')) no-repeat center center;
  text-align: center;
}

.contact-delete, .contact-edit {
  float: right;
  margin-bottom: 1em;
  font-size: 1.325em;
}

.contact-edit {
  margin-right: 0.5em;
}

.edit-contact-title {
  font-size: 1.5em;
}

.add-contact {
  font-family: 'Abel', sans-serif;
  margin-top: 0.5em;
  margin-left: 0.325em;
}
