@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Abel);

/* universal ---------------------------------------------------------------- */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@grid-float-breakpoint: 30px;

.center {
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.lotus {
  width: 37px;
  margin-right: 0.125em;
}

.clearfix {
  clear: both;
}

/* home page ---------------------------------------------------------------- */

.home h3 {
  font-weight: bold;
}

.home {
  background: url(image-path('watercolor.png')) no-repeat bottom center fixed;
  font-family: 'Abel', sans-serif;
  font-size: 1.2em;
  line-height: 1.625em;
  padding: 0 50px;
}

.about, .dialectics, .behavior {
  background-color: hsla(0, 0%, 70%, 0.25);
  padding: 0 13px 13px 13px;
  border-radius: 8px;
}

.about, .dialectics {
  margin-top: 15px;
  margin-bottom: 25px;
}

/* typography --------------------------------------------------------------- */

.text-small {
  font-size: 0.8em;
}

h1, h2, h3, h4, h5, label, .panel-heading, .card-back {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: 1.125em;
}

label {
  letter-spacing: 0.05em;
}

.card-back {
  font-weight: normal;
}

.panel-heading {
  font-size: 1.4em;
}

.fa.fa-star {
  color: hsla(46, 100%, 50%, 1);
  margin-right: 0.325em;
}

/* navigation --------------------------------------------------------------- */

.navbar {
  margin-bottom: 0.625em;
}

.nav-profile-img {
  width: 1.625em;
  margin-right: 0.25em;
  border: 1px solid hsla(0, 0%, 88%, 1);
}

.fa-bars {
  font-size: 1.4em;
}

.dropdown-menu {
  .fa {
  margin-right: 0.6em;
  color: hsla(0, 0%, 44%, 1);
  }
  li {
    margin-bottom: 0.3125em;
  }
}

.navbar-left {
  .fa {
  margin-right: 0.6em;
  font-size: 1.45em;
  color: hsla(0, 0%, 44%, 1);
  }
  a:hover {
    border-bottom: 2px solid #58cdd3;
  }
}

.login, .user-nav {
  border-top: 0.1em solid hsla(0, 0%, 88%, 1);
}

/* forms -------------------------------------------------------------------- */

.has-feedback-left {  
  /* Left Icon Input Padding */
  .form-control {
    /* reset changes to right */
    padding-right: 12px;
    padding-left:  34px;
  }
}

/* Left Align Icon */
.has-feedback-left .form-control-feedback {
  left: 0; 
}

.form-control-feedback {
  line-height: 34px !important;
}

.register, .google {
  margin-top: 0.7em;
}

.checkbox {
  margin-bottom: 15px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
  .forgot {
    font-weight: normal;
  }
  .forgot:hover {
    font-style: italic;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* footer ------------------------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}

footer .container .text-muted {
  font-size: 0.85em;
  margin: 16px 0;
  text-align: center;
}

