@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* universal ---------------------------------------------------------------- */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.lotus {
  width: 37px;
  margin-right: 0.125em;
}

/* typography --------------------------------------------------------------- */

.text-small {
  font-size: 0.8em;
}

/* navigation --------------------------------------------------------------- */

.nav-profile-img {
  width: 1.625em;
  margin-right: 0.25em;
  border: 1px solid hsla(0, 0%, 88%, 1);
}

.fa-bars {
  font-size: 1.4em;
}

.dropdown-menu {
  .fa {
  margin-right: 0.6em;
  color: hsla(0, 0%, 44%, 1);
  }
  li {
    margin-bottom: 0.3125em;
  }
}

.navbar-left {
  .fa {
  margin-right: 0.6em;
  font-size: 1.3em;
  color: hsla(0, 0%, 44%, 1);
  }
  a:hover {
    border-bottom: 3px solid #5BC0DE;
  }
}

.login, .user-nav {
  border-top: 0.1em solid hsla(0, 0%, 88%, 1);
}

.navbar {
  margin-bottom: 0.625em;
}

/* forms -------------------------------------------------------------------- */

.has-feedback-left {  
  /* Left Icon Input Padding */
  .form-control {
    /* reset changes to right */
    padding-right: 12px;
    padding-left:  34px;
  }
}

/* Left Align Icon */
.has-feedback-left .form-control-feedback {
  left: 0; 
}

.form-control-feedback {
  line-height: 34px !important;
}

.register, .google {
  margin-top: 0.7em;
}

.checkbox {
  margin-bottom: 15px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
  .forgot {
    font-weight: normal;
  }
  .forgot:hover {
    font-style: italic;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* footer ----------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
  /* Set the fixed height of the footer here */
  height: 25px;
  .container .text-muted {
    font-size: 0.85em;
    text-align: center;
  }
}

