@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* universal ---------------------------------------------------------------- */

*,
*:after,
*::before {
    box-sizing: border-box;
}

.body {
  font-family: 'Open Sans', sans-serif;  
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

a:hover {
  text-decoration: none;
}

/* typography --------------------------------------------------------------- */

.text-small {
  font-size: 0.8em;
}

/* navigation --------------------------------------------------------------- */

.nav-profile-img {
  width: 1.6875em;
  height: 1.6875em;
  margin-right: 0.25em;
  border: 1px solid lightgrey;
}

.fa-bars {
  font-size: 1.4em;
}

.dropdown-menu .fa {
  margin-right: 0.6em;
  color: hsla(0, 0%, 44%, 1);
}

.navbar-left .fa {
  margin-right: 0.6em;
  font-size: 1.2em;
  color: hsla(0, 0%, 44%, 1);
}

.login {
  border-top: 0.1em solid hsla(0, 0%, 88%, 1);
}

/* forms -------------------------------------------------------------------- */

.has-feedback-left {  
  /* Left Icon Input Padding */
  .form-control {
    //reset changes to right
    padding-right: 12px;
    padding-left:  34px;
  }
}

/* Left Align Icon */
.has-feedback-left .form-control-feedback {
  left: 0; 
}

.form-control-feedback {
  line-height: 34px !important;
}

.register, .google {
  margin-top: 0.7em;
}

.checkbox {
  margin-bottom: 15px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
  .forgot {
    font-weight: normal;
  }
  .forgot:hover {
    font-style: italic;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* pre-loader --------------------------------------------------------------- */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}
h1 {
    color: #EEEEEE;
}

#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}

/* Loaded */

.loaded #loader-wrapper {
    visibility: hidden;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.3s 1s ease-out; 
                transition: all 0.3s 1s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.no-js #loader-wrapper {
    display: none;
}
.no-js h1 {
    color: #222222;
}

/* footer ----------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  .container .text-muted {
    font-size: 0.85em;
    text-align: center;
  }
}

