@import url(https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);

.grey-box {
  top: 0;
  left: 0;
  background-color:  hsla(0, 0%, 30%, 0.5);
  position: absolute;
  visibility: hidden;
  z-index: 1020;
}

.display {
  visibility: visible;
}

.modal {
  margin-top: 9.5em;
}

.card {
  margin: 0.75em;
  height: 22em;
  line-height: 1.8em;
  box-shadow: 1px 1px 7px #ccc;
  border-radius: 0.5em;
}

.card a {
  font-size: 1.05em;
}

.card a:hover {
  border-bottom: 2px solid #ccc;
}

.card ul {
  margin-left: -1.5em;
}

.card-title {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 1.75em;
  font-weight: bold;
  letter-spacing: 0.125em;
  text-shadow: 2px 2px 2px #aaa;
}

p.card-title {
  margin-top: 5em;
}

.card-front.mindfulness  {
  background: transparent url(image-path('blue-circle.png')) no-repeat center top;
}

.card-front.ER {
  background: transparent url(image-path('bluesquare.png')) no-repeat center top;
}

.card-front.DT {
  background: transparent url(image-path('square.png')) no-repeat center top;
}

.card-front.IE {
  background: transparent url(image-path('blue-triangles.png')) no-repeat center top;
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card-front {
  text-align: center;
}

.card-back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect-click.flipped .card-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect-click.flipped .card-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
