/* Settings ----------------------------------------------------------------- */
.setting-img {
  width: 10.9375em;
  height: 10.9375em;
  border: 0.1875em solid hsla(0, 0%, 75%, 1);
  margin: 2em;
}


