/* Settings ----------------------------------------------------------------- */

.settings {
  padding-bottom: 0;
}

.bottom-fix {
  height: 20px;
  background: url(image-path('wet_snow.png')) fixed center repeat;
}

/* PHOTO */
.photo-settings {
  text-align: center;
  padding: 0.75em;
  border-bottom: 0.125em solid hsla(0, 0%, 88%, 1);
  .photo-text {
  margin-top: 0.625em;
  text-align: center;
  font-style: italic;
  }
  .current-img {
    border: 0.1875em solid hsla(0, 0%, 80%, 1);
    height: 10.9375em;
    width: 10.9375em;
  }
  .img-options {
  border: 0.1875em solid hsla(0, 0%, 80%, 1);
  width: 4.375em;
  margin: 0.5em;
  }
}

/* USER */
.user-settings {
  padding-bottom: 1.5625em;
  padding-top: 1.275em;
  border-bottom: 0.125em solid hsla(0, 0%, 88%, 1);
  background: url(image-path('wet_snow.png')) fixed center repeat;
}

/* QUESTION */
.question-settings {
  padding-bottom: 1.5625em;
  padding-top: 1.275em;
  border-bottom: 0.125em solid hsla(0, 0%, 88%, 1);
}

.add-question {
  margin-left: 0.3125em;
}

/* THERAPIST */
.therapist-settings {
  margin: 0 auto;
  padding-top: 1.275em;
  margin-left: -1em;
  margin-right: -1em;
  background: url(image-path('wet_snow.png')) fixed center repeat;
}

select#therapist_id.form-control {
  margin-top: 0.5em;
  width: 18em;
}

.therapist-save {
  margin-left: 0.375em;
}

.therapist-info {
  font-family: 'Abel', sans-serif;
  font-size: 1.1em;
}
