<div class="container-fluid">
    <!-- Second navbar for profile settings -->
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsed">
          <span class="sr-only">toggle navigation</span>
          <span class="fa fa-bars"></span>
        </button>
        <%= link_to "Brand", root_path, class: "navbar-brand" %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapsed">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Diary</a></li>
          <li><a href="#">Calendar</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
        <% if logged_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <%= image_tag @user.photo.image, class: "nav-profile-img img-circle", alt: "username picture" %>
                <%= @user.username %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">My Profile</a></li>
                <li><a href="#">Favorites</a></li>
                <li><a href="#">Settings</a></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Logout", logout_path, method: :delete %>
                </li>
              </ul>
            </li>
          </ul>
        <% else %>
          <!-- include logged out links here -->
        <% end %>         
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->
</div><!-- /.container-fluid -->
